/* .principal{
    text-align: center; 
    padding: 2px;
    width: 90%; 
    max-width: 90%;
    font-size: 50%;
}

.segundo{
    max-width: 90%;

}
img{max-width: 50%;}
 */


body{
    background-color: rgba(255, 15, 59, 0.501);
    max-width: 100%;
}
section{
    text-align: center;
}
p{
    color: rgb(5, 3, 3);
}
/* @media screen and (max-width: 480px){
    table{max-width: auto;
        height: auto;
        width: auto;    
    }
    } */

    