h1{
    text-align: center; 
    padding: 2px;
    font-size: 90%;
    width: 90%; }

body{
    background-color: rgba(255, 15, 59, 0.501);
}
section{
    text-align: center;
}
p{
    color: rgb(251, 248, 247);
}


