@media (max-width: 767px) {
    body{
        background-color: #b5b2b2;
        max-width: 100%;
    }
    section{
        text-align: center;
    }
    p{
        color: black;
    }

}
@media (min-width:768px) and (max-width: 990px) {
    body{
        background-color: #b5b2b2;
        max-width: 100%;
    }
    section{
        text-align: center;
    }
    p{
        color: black;
    }

}
@media (min-width: 991px) {
    body{
        background-color: #b5b2b2;
        max-width: 100%;
    }
    section{
        text-align: center;
    }
    p{
        color: black;
    }

}




    